<div class="card">
    <h2>Description of the Project</h2>
    <p class="text">This is an <span [ngStyle]="{color: 'var(--primary-color)'}">Angular & Django </span> Project that aims at discovering the basics of those technologies. 
      This project takes into input an image and returns a description of it made via the <span [ngStyle]="{color: 'var(--primary-color)'}">BLIP</span> image captioning model hosted from hugging face. </p>
      <p class="text">The model on hugging face allows for a <span [ngStyle]="{color: 'var(--primary-color)'}">lightweight project </span>perfect for understanding the basics of Angular and Django. The model could have been hosted on the Django backend but its too heavy for the project.
        This project also stores informations about the image and its description in a <span [ngStyle]="{color: 'var(--primary-color)'}">PostgreSQL database</span>.</p> 
        <p class = "text">The project is divided inside <span [ngStyle]="{color: 'var(--primary-color)'}">Docker containers</span> that are able to achieve different tasks.</p>
        <p class="text">The project is divided in two main parts: the <span [ngStyle]="{color: 'var(--primary-color)'}">frontend</span> and the <span [ngStyle]="{color: 'var(--primary-color)'}">backend</span>. The frontend is made with Angular and the backend with Django. </p>
      </div>
  